.root {
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  left: 0;
  top: 0;
}
.dashboard {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.dashboard_2 {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: Cabin, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;
}
