.root {
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  left: 16.5803%;
  right: 37.8238%;
  top: 28.4722%;
  bottom: 69.3056%;
}
.schedule {
  width: 24px;
  height: 24px;
  overflow: visible;
}
.dashboard {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: Cabin, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  white-space: nowrap;
}
